selenium
psycopg2
supabase
asyncio
apify_client
google-image-source-search
fuzzywuzzy
pandas
python-Levenshtein
chromedriver-autoinstaller
pyvirtualdisplay
webdriver-manager
parsel
requests
scikit-image
numpy
opencv-python
matplotlib
Pyarrow
imapclient
secure-smtplib
pytz
pytest
google
